body {
  overflow: hidden;
  background: lightgoldenrodyellow;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}


.rnumber{
  background:lightblue none;
font-size:20px;
  /* background:#fff none;
 position:relative;
 border:1px solid #ccc;
 border-radius:4px;
 color:#333;
 cursor:pointer;
 font-size:1rem;
 display:block;
 font-weight:700;
 line-height:1;
 padding:15px 8px 20px 42px;
 text-align:center;
 text-decoration:none;
 text-indent:0;
 width:auto;
 height:auto */
}

.num{
  font-size:100px;
}

#btn{

}

.btn1{  
  /* display: flex;
  justify-content: flex-end;
text-align:center; */
overflow: hidden;
font-size:70px;
width: 9%;
height:5%;
}
.btn2{
  /* display: flex;
  justify-content: flex-end; */
  overflow: hidden;
  font-size:70px;
  width: 9%;
  height:5%;
}
.btn3{
  /* display: flex;
  justify-content: flex-end; */
  overflow: hidden;
  top:0;
  font-size:70px;
  width: 9%;
  height:5%;
}
.btn4{
  font-size:70px;
  width: 9%;
  height: 5%;
}
.btn5{
  font-size:35px;
  width: 9%;
  height: 5%;
}
