body {
  overflow: hidden;
  background: lightgoldenrodyellow;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.receptionist_table {
  color: black;
  font-size: 25px;
  margin-right: 14px;
}


.rnumber {
  background: lightblue none;
  font-size: 20px;
}

.num {
  font-size: 100px;
}