@charset "UTf-8";

body {
    background-color: rgba(246, 239, 172, 0.723);
}

h1 {
    color: red;
    font-size: 30px;
    text-shadow: 2px;
    border: 2px;
    border-color: black;
    text-align: center;
}

h2 {
    text-align: center;
    color: black;
    margin-left: -8px;
    margin-right: -8px;
    padding: 10px;
    border: 5px solid rgb(123, 123, 255);
    background-color: rgba(159, 223, 255, 0.568)
}

.botm {
    width: 80px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: whitesmoke;
    cursor: pointer;
    color: black;
}

.sele {
    width: 30em;
    text-align: right;
}