@charset "UTf-8";

body {
    background-color: rgba(246, 239, 172, 0.723);
}

.subm {
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: whitesmoke;
    cursor: pointer;
    color: black;
}

.login {
    padding: 10px;
    box-sizing: border-box;
    background: azure;
    border: 1px solid #68779a;

}

button {
    text-align: center;
}